
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Shred styles */
 .display-flex{
    display :flex;
 }
 .text-gray{
  color:#424242;
 }
 .text-light-gray{
  color:#727272;
 }
 
 .bg-light{
  background-color: rgba(255,144,14,0.1);
 }
 .text-primary{
  color: #FF900E;
 }
 .btn-primary{
  background-color: #FF900E;
  color: white;
  padding: 20px 25px;
  font-size: 1.25rem;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  
 }
.btn-primary:hover{
  background: #da8c33;

}
 .section-title{
  font-size: 2.8rem;
  font-weight: 700;

}
 main{
  max-width: 1440px;
  margin: 0 auto;
  
 }
 main>section{
  margin-top: 130px;
 }



/* header styles */

/* navbar related styles */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.brand{
  font-weight: 700;
  font-size: 3rem;
}

.nav-item{
  list-style: none;
  margin-right: 20px;
}
.nav-link:hover{
  background: rgba(255,144,14,0.1);
}

.nav-link{
  text-decoration: none;
  
}

.navbar, .banner{
  max-width: 1440px;
  margin: 0 auto;
}
.banner-content{
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.banner-title{
  font-size: 4rem;
  font-weight: 700;
}

.banner-image{
  width: 100%;
}
.banner-image:hover{
   transform: scale(1.25);
  background: transparent;
  transition: 1s;
}

.teams{
  align-items: center;
  
}

.team-img-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.feature-architec:hover{
  transform: scale(1.5);
  background: transparent;
  transition: 1s;
}

#features-section-title{
  border-left:5px solid #FF900E ;
  padding-left:20px ;

}

.features{
  gap:140px;
}
.feature-card{
 padding: 30px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
  margin-bottom: 20px;
  border-radius: 8px;
}
.feature-card .feature-title{
  font-weight: 600;
  font-size: 1.25rem;
  margin-top: 0px;
  margin-bottom: 0px;
 
}
#experince-badge{
  padding: 45px 42px;
  font-size: 1.5rem;
  font-weight: 500;
  margin-left: -100px;
  margin-top: -100px;

}

#experince-badge:hover{
 transform: rotate(20deg);
 transition: 1s;
background: rgb(13, 165, 132);
}
#experince-year{
  font-size: 4rem;
  font-weight: 700;
}
.our-features{
  margin-left: 130px;
  max-width: 530px;
}
.feature-architec{
  width: 100%;
}
.facts-container{
  display: grid;
  grid-template-columns: repeat(4 ,1fr);
  


}
.fact-card{
  border: 1px solid #FF900E;
  width: 240px;
  height: 240px;
  border-radius: 8px;
  align-items: center;
justify-content: center;
text-align: center;
}

.fact-card:hover{
   transform: scale(1.25);
  background: transparent;
  transition: 1s;
  background: #FF900E;
}

.fact-number{
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 10px;
}
.fact-name{
  font-size: 1.25;
  font-weight: 600;
  margin-top: 10px;
}
.fact-description{
  max-width: 540px;
}

.sponsor-info{
  max-width: 540px;
  margin: 50px auto;
  text-align: center;
}

.sponsor-companies{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding-bottom: 170px;

  
}

.sponsor-companies img{
  filter: grayscale(100%);
}
.footer-container{
  max-width:1440px;
  margin: 0 auto;
      padding: 10px 130px; 
       background:#FFF4E7 ;
        border-radius: 6px;
}
.footer-text{
      text-align: center;
  font-size: 1.25rem;
  font-weight: 500;
  
}
.footer-white-space{
   height: 254px;  
      width: 100%;
      background: #fff;
}


#quik-list{
  font-weight: 500;
}
/* team and feature related styles*/

/* responsive media query */

@media screen and (max-width: 576px) {
  .navbar, .nav-links,.teams, .features{
    flex-direction: column;
  }
   .team-img-container, 
   .facts-container,
   .sponsor-companies
   
   
   {
    grid-template-columns: repeat(1,1fr);
   }
   
   .facts-container,.sponsor-companies{
    justify-items: center;
    gap : 24px;
   }   
    .our-features{
      margin-left: 20px;
      margin-top: 30px;
      text-align: center;
    }

    #experince-badge{
      margin-top: 20px;
      margin-left: 10px;
    }
  }

  /* medium size device */

  @media screen and (min-width:576px) and (max-width:992px) {
    .teams, .features{
      flex-direction: column;
    }
    .sponsor-companies{
      justify-items: center;
      gap: 50px;

    }
    .sponsor-companies, .facts-container{
      grid-template-columns: repeat(2, 1fr);
      justify-items: center;
    }
    .our-features{
      margin: 50px auto;
    }

     #experince-badge{
      margin-top: 20px;
      margin-left: 10px;
    }
  }
